.highlight {
    background-color: aqua;
}

.navbar-style {
    background-color: blueviolet !important;
}

.green-highLight {
    color: green;
    font-size: 2rem;
    background-color: ghostwhite;
    border: 1px solid black;
}

.red-highlight {
    color: red;
    font-size: 1.5rem;
    background-color: blueviolet;
}

.card-foot-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hand-icon {
    cursor: pointer;
}

.nav-link.active {
    border-bottom: 2px solid black;
}